<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSTemplateFromScratch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1862DBF6280E9AA8000D3D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1862DC0C280E9AAA000D3D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1862DC16280E9AAA000D3D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
